/*Utility Class*/
.btn {
    font-family: 'Mali', cursive;
    /* Albano */
    background-color: rgb(42, 128, 179);
    color: white;
    display: inline-block;
    font-size: 16px;
    padding: 12px 23px;
    border-radius: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 17% 12% 10% 21% 19% 7% 16% 2%;
    /* background-color: blue;*/
}

.grid-container>* {
    /* background-color: aquamarine;*/
    /*border: 1px solid black;*/
    justify-content: center;
    align-items: center;
}

#main-header {
    background: url('../img/Banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: auto;
}

.logo img {
    width: 30%;
    float: right;
    padding-bottom: 10%;
}

/*.logo {
    font-size: 32px;
    text-transform: uppercase;
}*/

#main-header h1 {
    padding-top: 0px;
    padding-bottom: 5px;
}

/*#main-header p {
    padding-bottom: 50 px;
}
/*Description*/
#description {
    padding: 2%;
    text-align: center;
}

#description h2 {
    padding-bottom: 10px;
}

.description-box {
    width: 33%;
    padding: 25px;
}

/*About*/



/* InicioAlbano  */
/* Creo clases para la Tipografía Mali de Google Fonts */

.display-1 {
    font-family: 'Mali', cursive;
}

.sub1 {
    font-family: 'Mali', cursive;

}

.display-2 {
    font-family: 'Mali', cursive;

}

.display-3 {
    font-family: 'Mali', cursive;

}

.sub2 {
    font-family: 'Mali', cursive;
}

.sub3 {
    font-family: 'Mali', cursive;
}

/* Fin Albano */


.display-2 {
    margin-bottom: 0%;
}

.about-image {
    float: left;
    width: 30%;
    padding: 0% 2%;
}

.about-image img {
    width: 115%;
}

.about-text {
    width: auto;
}

.about-text p {
    margin: 0px 5px;
}


/*Features*/
#features {
    background: white;
    padding-top: 5%;
    padding-bottom: 50px;
    text-align: center;
}

.features-box {
    float: left;
    width: 33%;
}

.features-box img {
    width: 100%;
    border-radius: 70%;
}

/*Testimonio*/
#testimonio {
    background: url('../img/TestimonioBack.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*   padding-top: 50px;
    padding-bottom: 50px;*/
    color: black;
    text-align: center;
    font-weight: 100;
}

#testimonio h4 {
    font-size: 30px;
    margin: 3% 2%;
}

#testimonio img {
    border-radius: 50%;
    max-height: 100px;
}

#testimonio p {
    width: 70%;
    margin: 0 auto;
    font-size: 18px;
}

#testimonio .customer {
    font-family: 'Mali', cursive;
    /* Albano */
    padding-top: 10px;
}

/*Video youtube*/
#video iframe {
    width: 100%;
    height: auto;
}

/*formulario de contacto*/
.form {
    background-color: white;
    width: 100%;
}

.form-container {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-auto-columns: 100%;
}

.form-title {
    font-family: 'Mali', cursive;
    /* Albano */
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.form-input {
    font-family: 'Mali', cursive;
    /* Albano */
    font-family: inherit;
    font-size: 15px;
    padding: .8em 16px;
    outline: none;
    border: none;
    border: 1px solid;
    border-radius: 0.2em;
}

.form-input-message {
    font-family: 'Mali', cursive;
    /* Albano */
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.form-cta {
    font-family: 'Mali', cursive;
    /* Albano */
    font-family: inherit;
    font-size: 1rem;
    background-color: rgb(42, 128, 179);
    color: white;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 400;
}

/*Tablet*/
@media (min-width: 750px) and (max-width: 990px) {
    .grid-container {
        grid-template-columns: 50% 50%;
        grid-template-rows: 18% 17% 24% 18% 10% 20% 3%;
    }

    #main-header,
    #footer,
    #features,
    #testimonio,
    #contacto,
    #video {
        grid-column: 1 / 3;
    }

    .about-image img {
        width: 135%;
        padding: 0%;
    }

    .display-2 {
        font-size: 20px;
    }

    .features-box img {
        width: 40%;
    }

    #testimonio h4 {
        font-size: 26px;
        margin: 2%;
    }

    #testimonio p {
        width: 95%;
        margin: 0 auto;
        font-size: 16px;
    }

    #video {
        padding-top: 15px;

    }


    .form-container {
        width: 98%;
        display: grid;
        gap: 8px;
        grid-auto-columns: 100%;
    }

    .form-title {
        text-align: center;
        font-size: 26px;
        margin-bottom: 2%;
        margin-top: 2%;
    }

    .form-input {
        font-family: inherit;
        font-size: 16px;
        padding: 8px 16px;
        outline: none;
        border: none;
        border: 1px solid;
        border-radius: 0.2em;
    }

    .logo img {
        width: 20%;
        float: right;
        padding-bottom: 10%;
    }

}

/*Web*/
@media (min-width: 990px) {
    .grid-container {
        grid-template-columns: 70% 30%;
        grid-template-rows: 20% 13% 12% 30% 15% 18% 3%;
    }

    #main-header,
    #footer,
    #features,
    #contacto,
    #video {
        grid-column: 1 / 3;

    }


    #testimonio {
        grid-row: 2/4;
        grid-column: 2;
    }

    #testimonio h4 {
        padding-top: 6%
    }

    #testimonio img {
        max-height: 90px;
    }

    #testimonio p {
        padding-top: 6%;
    }

    .about-image img {
        width: 80%;
    }

    #features img {
        width: 50%;
    }

    #video {
        padding-top: 60px;
        width: 100%;
        height: 100%;

    }

    .logo img {
        width: 20%;
        float: right;
        padding-bottom: 10%;
    }


    :root {
        --color_text-primary: #AB29CA;
        --color_text-secundary: #282828;
        --color_secundary: #9A00BF;

    }

}

/*Menu Hamburguesa*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family:"cursive";

}
/*Navigation*/
nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bar-btn {
    font-size: 20px;
    color: rgb(5, 5, 5);
    margin-right: 20px;
    cursor: pointer;
}
.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(252, 250, 250, 0.95);
    text-align: center;
    transition: all .5s;
}
.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;

}
.nav-menu li a {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;

}
,.nav-menu li a.active, .nav-menu li a:hover {
    color: rgb(248, 8, 8);
    transition: .3s;
}
#check {
    display: none;
}
#check:checked ~ .nav-menu {
    height: 100vh;    
}
#check:checked ~ .nav-menu li {
    display: block;
}





