@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Josefin+Sans:wght@100&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans+Narrow&display=swap');


html,
body {
    font-family: 'Aboreto', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
}

/* Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main Styling*/
html,
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font: 40px;
}

h2 {
    font: 32px;
}

h3 {
    font: 28px;
}

h4 {
    font: 24px;
}

h5 {
    font: 20px;
}

h6 {
    font: 16px;
}


p {
    font-size: 16px;
    line-height: 1.7em;
    margin: 10px 0;
}

a {
    text-decoration: none;
}


/*Utility Class*/
.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0.20px;
}

.display-1 {
    font-size: 70px;
    font-weight: 300px;

}

.display-2 {
    font-size: 56px;
    font-weight: 300px;

}

.btn {
    background: blue;
    color: white;
    display: inline-block;
    font-size: 15px;
    padding: 12px 23px;
    font-weight: 1px;
    border-radius: 40px;

}

/*Heade*/
#main-header {
    background: url('../img/Banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    color: black;
    padding-top: 160px;
}

#main-header .logo {
    font-size: 32px;
    text-transform: uppercase;
}

#main-header h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#main-header p {
    width: 70%;
    padding-bottom: 40 px;

}

/*Description*/
#description {
    padding-top: 120px;
    padding-bottom: 100px;
    text-align: center;

}

#description h2 {
    padding-bottom: 20px;
}

.description-row {
    padding-top: 20px;
}

.description-box {
    float: left;
    width: 33%;
    padding: 25px;
}

/*Testimonio*/
#testimonio {
    background: url('../img/Banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    color: black;
    text-align: center;
    font-weight: 300;
}

#testimonio h4 {
    padding-bottom: 40px;
    font-size: 50px;

}

#testimonio img {
    border-radius: 50%;
    max-height: 140px;
    padding-bottom: 20px;

}

#testimonio p {
    width: 70%;
    margin: 0 auto;

}

#testimonio .customer {
    padding-top: 20px;

}

/*Features*/
#features {
    background: white;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.features-box {
    float: left;
    width: 33%;
    padding: 25px;
}

.features-box img {
    width: 100%;
}

/*About*/
#about {
    padding-top: 80px;
    padding-bottom: 80px;
}


.about-image {
    float: left;
    width: 50%;
    padding: 40px;
}


.about-image img {
    width: 80%;
}

.about-text {
    float: right;
    width: 50%;
    padding: 150px 50px;
}

.about-text p {
    padding-top: 20px;
}

/*Footer*/
#mainfooter {
    background: white;
    text-align: center;
    padding: 20px;
}

/*formulario de contacto*/
.form {
    background-color: white;
    width: 90%;
    max-width: 400px;
}

.form-container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: .4em;
}

.form-input {
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 16px;
    outline: none;
    border: none;
    border: 1px solid;
    border-radius: 0.2em;

}
.form-input-message {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.form-cta {
    font-family: inherit;
}